<div class="perfil-container">
  <header class="perfil-header">
    <link rel="stylesheet" href="perfil.component.css">
    <h1>AGROMERCADO</h1>
  </header>

  <main class="perfil-main">
    <h2>Seleccionar perfil</h2>

    <div class="perfil-opcion">
      <div class="perfil-info">
        <img src="assets/icons/user-icon.png" alt="icono agricultor" class="icono">
        <button class="btn-perfil">Agricultor</button>
      </div>
      <img src="assets/images/agricultor.jpg" alt="Agricultor" class="img-perfil">
    </div>

    <div class="perfil-opcion">
      <div class="perfil-info">
        <img src="assets/icons/user-icon.png" alt="icono comprador" class="icono">
        <button class="btn-perfil">Comprador</button>
      </div>
      <img src=".jpg" alt="Comprador" class="img-perfil">
    </div>
  </main>
</div>
