<div class="perfil-container">
  <header class="perfil-header">
    <h1>AGROMARKET</h1>
  </header>

  <main class="perfil-main">
    <h2>Seleccionar perfil</h2>

    <div class="perfil-opcion">
      <div class="perfil-info">
        <img src="https://images.icon-icons.com/1496/PNG/512/editfind_103400.png" alt="icono agricultor" class="icono">
        <button class="btn-perfil"[routerLink]="['/agricultor']">Agricultor</button>
      </div>
      <img src="https://www.shutterstock.com/image-photo/portrait-senior-farmer-corn-field-600nw-2514319495.jpg" alt="" class="img-perfil">
    </div>

    <div class="perfil-opcion">
      <div class="perfil-info">
        <img src="https://images.icon-icons.com/1496/PNG/512/editfind_103400.png" alt="icono comprador" class="icono">
        <button class="btn-perfil"[routerLink]="['/comprador']">Comprador</button>
      </div>
      <img src="https://tse3.mm.bing.net/th/id/OIP.S_iuWSFG0JY35o4KAOPnLgHaG5?cb=12&pid=ImgDet&w=176&h=163&c=7&o=7&rm=3" alt="" class="img-perfil">
    </div>
  </main>
</div>
