/* Fondo general */
.perfil-container {
  background-color: #b8db97;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Encabezado */
.perfil-header {
  background-color: #09730a;
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.perfil-header h1 {
  color: #a2d34e;
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}

/* Contenido principal */
.perfil-main {
  padding: 7px 15px;
  text-align: center;
  width: 100%;
  max-width: 1100px;
}

.perfil-main h2 {
  color: #1d4728;
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0 0 5px 0;
  text-transform: lowercase;
  text-align: left;
  padding-left: 260px;
  margin-left: 10px;
}

/*Contenedor centrado y ordenado */
.perfil-contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

/* Agricultor / Comprador */
.perfil-opcion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 65%;
  max-width: 700px;
  gap: 15px;
}

/* Columna izquierda icono y boton */
.perfil-info {
  display: flex;
  align-items: center;
  gap: 15px;
}
.perfil-regresar {
  display: flex;
  justify-content: flex-start; /* mueve el icono a la derecha */
  margin-right: 30px; /* ajusta la distancia del borde derecho */
  margin-top: -20px; 
}


/* Icono */
.icono {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

/* Botón */
.btn-perfil {
  background-color: transparent;
  border: 2px solid #1d4728;
  border-radius: 10px;
  padding: 15px 80px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #1d4728;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
}

.btn-perfil:hover {
  background-color: #1d4728;
  color: #fff;
}

/* Imagen a la derecha */
.img-perfil {
  width: 310px;
  height: 180px;
  object-fit: cover;
  border-radius: 20px;
}

/*  Responsive */
@media (max-width: 768px) {
  .perfil-opcion {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .perfil-info {
    justify-content: center;
  }

  .img-perfil {
    width: 90%;
    height: auto;
  }
}
