<div class="agregar-producto-container">
  <header class="header">
    <h1>AGROMARKET</h1>
  </header>

  <main class="main-content">
    <section class="form-section">
      <div class="form-container">

        <div class="agricultor-regresar">
        <button class="btn-regresar" (click)="regresar()">
          <img
            src="https://cdn-icons-png.flaticon.com/512/6097/6097933.png"
            alt="icono agricultor"
            class="icono"
          />
          </button>
          <h2>Agricultor</h2>
          </div>
        <div class="form-group">
          <label for="nombre">Nombre producto</label>
          <input type="text" id="nombre"  maxlength="30"
          required
          (input)="soloLetras($event)"
          [(ngModel)]="nombre"
          name="nombre" 
          />
        </div>

        <div class="form-group">
          <label for="cantidad">Cantidad Kg</label>
          <input type="text" id="cantidad" maxlength="5"
           required
           (input)="soloNumeros($event)"
           [(ngModel)]="cantidad"     
            name="cantidad" 
           />
        </div>

        <div class="form-group">
          <label for="precio">Precio Kg</label>
          <input type="text" id="precio" maxlength="10"
           required
           (input)="soloDecimales($event)"
           [(ngModel)]="precio"   
            name="precio"
           />
        </div>
         <div class="form-group">
          <label for="imagen">URL imagen</label>
          <input type="text" id="imagen"
            placeholder="https://miservidor.com/imagen.jpg"
            [(ngModel)]="imagen"
            name="imagen"
          />
        </div>

        <div class="form-group">
          <label for="tipo">Tipo</label>
          <select id="tipo" [(ngModel)]="tipo" name="tipo">
            <option value="">Seleccionar...</option>
            <option value="grano">Grano</option>
            <option value="tuberculo">Tubérculo</option>
            <option value="fruta">Fruta</option>
            <option value="hortaliza">Hortaliza</option>
            <option value="otros">Otros</option>
          </select>
        </div>

        <div class="botones">
          <button type="button" class="guardar" (click)="guardar()">Guardar</button>
          <button type="button" class="cancelar" (click)="cancelar()">Cancelar</button>
          <button type="button" class="eliminar" (click)="eliminar()">Eliminar</button>
        </div>
        <p class="mensaje-exito" *ngIf="mensajeExito">{{ mensajeExito }}</p>
      </div>
    </section>

    <section class="imagen-section">
      <div class="imagen-container">
        <img
          src="https://img.lalr.co/cms/2019/07/25190004/Diacol-Capiro-R12-papa-AN.jpg"
          alt="Papas"
        />
      </div>
    </section>
  </main>
</div>
