/* ===== Contenedor general ===== */
.login-container {
  background-color: #b8db97;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ===== Encabezado ===== */
.login-header {
  background-color: #09730a;
  width: 100%;
  text-align: center;
  padding: 40px 0;
}

.login-header h1 {
  color: #a2d34e;
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}

/* ===== Formulario ===== */
.login-form {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin-bottom: 25px;
  width: 350px;
}

label {
  font-weight: bold;
  color: #064d0a;
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 7px;
  border-radius: 8px;
  border: 1px solid #1a4b1d;
  outline: none;
  font-size: 1rem;
}

.forgot-password {
  margin-top: -5px;
  margin-bottom: 25px;
}

.forgot-password a {
  color: #064d0a;
  text-decoration: none;
  font-size: 1rem;
}

/* ===== Botones ===== */
.button-group {
  display: flex;
  justify-content: column;
  align-items: center;
  gap: 1px;
  
}

.btn {
  background-color: #8abf70;
  border: none;
  padding: 9px 25px;
  border-radius: 40px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-left: 18px;
}

.btn:hover {
  background-color: #7bc058;
  color: rgb(15, 15, 15);
}
.btn-regresar {
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  padding: 0;
  transition: background-color 0.2s ease, transform 0.2s ease;
  margin-left: -627px;
}

.btn-regresar:hover {
  background-color: #7ab463;
  transform: scale(1.02);
}

.icono {
  width: 40px;
  height: 40px;
}

/* ===== Responsivo para móvil ===== */
@media (max-width: 600px) {
  .login-container {
    width: 95%;
    padding: 15px;
  }

  .login-header h1 {
    font-size: 2rem;
  }

  .form-group {
    width: 100%;
  }

  .button-group {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .btn {
    width: 100%;
  }
}
