<div class="contenedor-formulario">
  <header class="encabezado">
    <h1>AGROMARKET</h1>
  </header>

  <div class="contenido">
    <form class="formulario" (ngSubmit)="registrar()" #formRegistro="ngForm">

      <label for="nombre">Nombre</label>
      <input
        type="text"
        id="nombre"
        name="nombre"
        placeholder="Ingresa tu nombre"
        [(ngModel)]="usuario.nombre"
        (input)="validarNombre($event)"
        required
        maxlength="25"
      />

      <label for="correo">Correo</label>
      <input
        type="email"
        id="correo"
        name="correo"
        placeholder="correo@gmail.com"
        [(ngModel)]="usuario.correo"
        required
        maxlength="30"
      />

      <label for="telefono">Teléfono</label>
      <input
        type="tel"
        id="telefono"
        name="telefono"
        placeholder="Número de teléfono"
        [(ngModel)]="usuario.telefono"
        (input)="validarTelefono($event)"
        required
        maxlength="10"
      />

      <label for="password">password</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="password"
        [(ngModel)]="usuario.password"
        required
        maxlength="20"
      />

      <label for="confirmar">Confirmar password</label>
      <input
        type="password"
        id="confirmar"
        name="confirmar"
        placeholder="Confirmar password"
        [(ngModel)]="usuario.confirmar"
        required
        maxlength="20"
      />

      <div class="botones">
        <button type="submit" class="crear">Crear</button>
        <button type="button" class="cancelar" (click)="cancelar()">Cancelar</button>

      </div>
       <p class="mensaje-exito" *ngIf="mensajeExito">{{ mensajeExito }}</p>
    </form>
  </div>
</div>
