body {
  font-family: 'Segoe UI', sans-serif;
  background: #f0f5ee;
  margin: 0;
  padding: 0;
}

/* CONTENEDOR PRINCIPAL */
.contenedor-formulario {
 background-color: #b8db97;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ENCABEZADO */
.encabezado {
  background-color: #09730a;
  width: 100%;
  text-align: center;
  padding: 28px 0;
}
.encabezado h1 {
  color: #a2d34e;
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}
.registrar-regresar h2 {
  color: #1d4728;
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0 0 35px 0;
  text-transform: uppercase;
  text-align: left;
  padding-left: 1px;
  
}
/* CONTENIDO GENERAL */
.contenido {
  display: flex;
  align-items: stretch;
}
.registrar-regresar {
  display: flex;
  align-items: center;     
  gap: 450px;               
  margin-bottom: -15px;     
  margin-top: 10px; 
  margin-left: -550px;
}

.btn-regresar {
 background: none;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  transition: background-color 0.2s ease, transform 0.2s ease;
  padding: 0;
  position: relative;
  z-index: 90;
}

.btn-regresar:hover {
  background-color: #7ab463;
  transform: scale(1.02);
}

.icono {
  width: 40px;
  height: 40px;
}


/* FORMULARIO */
.formulario {
  flex: 1;
  padding: 18px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

label {
  font-weight: 600;
  color: #2e7d32;
}

input {
  border: 1px solid #1a4b1d;
  border-radius: 6px;
  padding: 7px;
  width: 95%;
}

input:focus {
  outline: none;
  border-color: #4caf50;
  background-color: #f9fff7;
}

/* BOTONES */
.botones {
  margin-top: 2px;
  display: flex;
  gap: 5px;
}

.crear {
  background-color: #8abf70;
  border: none;
  padding: 9px 65px;
  border-radius: 40px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.cancelar {
  background-color: #8abf70;
  border: none;
  padding: 9px 45px;
  border-radius: 40px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.crear:hover {
  background: #388e3c;
}

.cancelar:hover {
 background: #388e3c;
}

/* IMAGEN LATERAL */
.imagen-lateral {
  flex: 1;
}

.imagen-lateral img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mensaje-exito {
  color: #2e7d32;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
  animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


