
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgroMarket</title>
    <link rel="stylesheet" href="inicio.component.css">
</head>
<body>
    <div class="container">
        <header class="header">
            <img src="leaf-icon.png" alt="Icono de Hoja" class="leaf-icon">
            <h1>AGROMARKET</h1>
        </header>

        <nav class="menu">
            <button class="menu-button">MENU</button>
            <ul>
                <li><a href="">Iniciar Sesión</a></li>
            </ul>
        </nav>

        <section class="hero">
            <img src="farmers-field.jpg" alt="Agricultores en el Campo" class="hero-image">
            <div class="hero-text">
                <p>Descubre la conexión entre la ciudad y el campo a través de nuestra plataforma.</p>
                <p>Con AgroMark, los agricultores pueden vender directamente sus productos a comerciantes urbanos,
                    eliminando intermediarios y garantizando la frescura de cada verdura.</p>
                <p>¡Explora nuestro mercado de agricultura directa!</p>
            </div>
        </section>
    </div>
    <script src="script.ts"></script>
</body>
</html>
