.hero-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Imagen de fondo */
.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(0.6);
}

.header {
 background-color: #09730a;
  width: 100%;
  text-align: center;
  padding: 40px 0;
}

.header h1 {
 color: #a2d34e;
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}

.menu {
  width: 100%;
  text-align: center;
  margin-top: 25px;
}

/* Botones del menú */
.btn {
  background: #70af51;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  margin: 0 20px;
  transition: 0.3s ease;
}

.btn:hover {
  background: #0a6e14;
  transform: scale(1.05);
}

.pagina-contenido {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centra sobre la imagen */
  width: 90%;
  max-width: 900px;
  text-align: center;
  color: white;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.7;
  text-shadow: 1px 1px 4px black;
}

/* Título uniforme */
.pagina-titulo {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 20px;
  color: #fff;
}